<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <form [formGroup]="passwordForm" (submit)="forgotPassowrd(passwordForm)">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            formControlName="email"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="passwordForm.invalid"
        >
          Send Reset Mail <i class="fas fa-spinner fa-spin" *ngIf="spin"></i>
        </button>
      </form>
    </div>
  </div>
</div>
