<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <div class="card">
        <div class="card-header">
          Check Card
        </div>
        <div class="card-body">
          <ul class="list-group text-center">
            <li
              class="list-group-item"
              [routerLink]="['/passport']"
              routerLinkActive="router-link-active"
            >
              Passport
            </li>
            <li
              class="list-group-item"
              [routerLink]="['/voters']"
              routerLinkActive="router-link-active"
            >
              Voter
            </li>
            <li
              class="list-group-item"
              [routerLink]="['/dvla']"
              routerLinkActive="router-link-active"
            >
              DVLA
            </li>
            <li
              class="list-group-item"
              [routerLink]="['/ssnit']"
              routerLinkActive="router-link-active"
            >
              SSNIT
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
