table {
  width: 100%;
  thead {
    tr {
      th {
        font-size: xx-small;
        font-weight: normal;
      }
    }
  }
}

#single-details,
#sex-location {
  width: 100%;
  tr {
    th {
      font-size: xx-small;
      font-weight: normal;
    }
  }
}
